{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %} :: Доска объявлений</title>
<link rel="stylesheet" type="text/css" href="{% static 'bboard/style.css' %}">
</head>
<body>
<header><h1>Объявления</h1></header>


<nav>
    <a href="{% url 'bboard:index' %}">Главная</a>
    <a href="{% url 'bboard:add' %}">Добавить</a>

    {% for rubric in rubrics %}
        <a href="{% url 'bboard:by_rubric' rubric.pk %}">{{ rubric.name }}</a>
    {% endfor %}
    <p>{% filter force_escape|upper %}
    дата текущая {% endfilter %}</p>
    <p>{% now 'SHORT_DATE_FORMAT' %}</p>
    <p>{% verbatim %}
    <p>текущее {% now %}</p>
    {% endverbatim %}</p>
    <p>{{ 5698|get_digit:2 }}</p>
</nav>

<section>
    {% block content %}
        <p>********************************</p>
    {% endblock %}
</section>

</body>
</html>